body {
	background: #1b2847;
	margin: 0;
	
	text-align: center;
}


a {
	color: #9ad0dc;
	font-family: 'Averia Sans Libre', cursive;
	text-decoration: none;
	transition: color 0.15s;

	&:hover {
		color: #5b99a7;
	}
}


.main-links {
	text-align: right;

	a {
		color: #9ad0dc;
		&:hover {color: #5b99a7}
	}

	.museum-link {
		color: #80adf0;
		&:hover {color: #5b99a7}
	}
}
