body {
	background: #1b2847;
	margin: 0;
	
	text-align: center;
}


.main-links {
	text-align: right;
	// margin-left: 50px;

	a {
		color: #9ad0dc;
		font-family: 'Averia Sans Libre', cursive;
		text-decoration: none;

		transition: color 0.15s;
	
		// &:visited {
		// 	color: blue;
		// }

		&:hover {
			color: #5b99a7;
		}
	}
}
