body {
	/* spatial stuff */
	height: 100vh;
	margin: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	/* stylistic stuff */
	background: #000000;
	overflow: hidden;

	/* text stuff */
	font-family: 'vcr_osd_monoregular';
}

#container {
	/* stylistic stuff */
	background: #0000ff;

	/* spatial stuff */
	width: 0;
	height: 0;
	/* height: 25ex; */

	/* text stuff */
	color: white;
	line-height: 1;
	word-break: break-all;

	/* transition stuff */
	transition: width 0.25s, height 1s;
}

@media (orientation: landscape) {
	body {background: #002200}
	#container {font-size: calc(100vw / 30);}
}

@media (orientation: landscape) and (min-aspect-ratio: 4/3) {
	body {background: #220000}
	#container {font-size: calc(100vh / 20);}
}

@media (orientation: portrait) {
	body {background: #000022}
	#container {font-size: calc(100vw / 30);}
}
