body {
	/* spatial stuff */
	height: 100vh;
	margin: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	/* stylistic stuff */
	background: black;
	overflow: hidden;

	/* text stuff */
	font-family: 'VCR OSD Mono';
}

i {font-style: normal}


#container {
	/* stylistic stuff */
	background: darkblue;
	overflow: hidden;

	/* spatial stuff */
	position: absolute;
	width: 0;
	height: 0;

	/* text stuff */
	color: white;
	line-height: 1;
	/* line-height: 0.97; */
	/* word-break: break-all; */

	/* transition stuff */
	transition: width 0.25s, height 1s;

	/* misc stuff */
	user-select: none;
}

#container > div {word-break: keep-all}

@media (min-aspect-ratio: 4/3) {
	#container {font-size: calc(100vh / 18);}
}

@media (max-aspect-ratio: 4/3) {
	#container {font-size: calc(100vw / 25);}
}
