:root {
  --gradient-xpos: 30%;
}

body {
  margin: 0;
  background: hsl(224, 75%, 11%);
  font-family: "Oswald", sans-serif;
}

/* header styling */
.container .header {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100px;
  padding: 0 20px 0 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.container .header .nav {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  width: 1000px;
  font-size: 16pt;
}
.container .header .nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Teko", sans-serif;
  font-size: 30pt;
  color: white;
}
.container .header .nav .links {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  padding: 0;
  margin: 0;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  list-style: none;
}
.container .header .nav .links li {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(10px);
  height: 100px;
  padding: 0 20px;
  font-size: 14pt;
  text-align: center;
  color: #bbbbbb;
}
.container .header .nav .links li:hover img {
  width: 100%;
}
.container .header .nav .links li a {
  color: inherit;
  text-decoration: none;
}
.container .header .nav .links li.active img {
  width: 100%;
  background: white;
}
.container .header .nav .links li img {
  width: 0;
  height: 2px;
  transform: translateY(-10px);
  background: #bbbbbb;
  border-radius: 6px;
  transition: width 0.3s cubic-bezier(0.45, 0.06, 0.41, 0.71);
}

.container .landing-video {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-clip-path: polygon(0% 0%, 0% 95%, 50% 99.5%, 100% 95%, 100% 0%);
          clip-path: polygon(0% 0%, 0% 95%, 50% 99.5%, 100% 95%, 100% 0%);
}
.container .landing-video .video-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  aspect-ratio: 16/9;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.6274509804);
}
.container .landing-video .video-overlay .main-text {
  font-family: "Heebo", sans-serif;
  font-weight: 900;
  text-align: center;
  color: white;
}
.container .landing-video .video-overlay .main-text span {
  font-weight: 300;
}
.container .landing-video video {
  top: 100px;
  justify-content: center;
}
@media screen and (max-aspect-ratio: 16/9) {
  .container .landing-video video {
    height: 100vh;
  }
}
@media screen and (min-aspect-ratio: 16/9) {
  .container .landing-video video {
    width: 100vw;
  }
}

.container > .spacer {
  height: 100vh;
  margin-top: -100px;
}

.container .lineup {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transform: translateY(-100px);
  padding-top: 150px;
  padding-bottom: 75px;
  z-index: -2;
  background: repeating-radial-gradient(ellipse closest-side at var(--gradient-xpos) 50%, #ffffff, #ffffff 10px, #fbfcff 10px, #fbfcff 20px);
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-clip-path: polygon(0% 0%, 0% 90%, 50% 100%, 100% 90%, 100% 0%);
          clip-path: polygon(0% 0%, 0% 90%, 50% 100%, 100% 90%, 100% 0%);
}
.container .lineup .top {
  font-family: "Teko", sans-serif;
  font-weight: 700;
  font-size: 60pt;
}
.container .lineup .artists {
  width: -moz-max-content;
  width: max-content;
  padding: 0;
  list-style: none;
  font-size: 20px;
}
.container .lineup .artists li:nth-child(odd) {
  text-align: right;
  transform: translateX(-35px);
  font-weight: 700;
}
.container .lineup .artists li:nth-child(even) {
  text-align: left;
  transform: translateX(35px);
}

.container .tickets {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-100px);
  height: 500px;
  background: hsl(224, 75%, 11%);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-clip-path: polygon(0% 0%, 0% 90%, 50% 100%, 100% 90%, 100% 0%);
          clip-path: polygon(0% 0%, 0% 90%, 50% 100%, 100% 90%, 100% 0%);
}
.container .tickets .top {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 40pt;
  color: white;
}
.container .tickets .button {
  width: -moz-max-content;
  width: max-content;
  margin-top: 30px;
  padding: 0 10px;
  border-radius: 10px;
  border: solid white 2px;
  font-family: "Heebo", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 24pt;
  color: white;
  transition: background-color 0.4s, color 0.4s;
}
.container .tickets .button:hover {
  background: white;
  color: hsl(224, 75%, 11%);
}

.container .sponsors {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  position: relative;
  transform: translateY(-200px);
  padding-top: 80px;
  z-index: -3;
  background: linear-gradient(45deg, #3440ac, #6b76dd);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-clip-path: polygon(0% 0%, 0% 90%, 50% 100%, 100% 90%, 100% 0%);
          clip-path: polygon(0% 0%, 0% 90%, 50% 100%, 100% 90%, 100% 0%);
}
.container .sponsors .top {
  font-weight: 700;
  font-size: 24pt;
}

.container .about {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .about .top {
  transform: translateY(-80px);
  font-family: "Ultra", serif;
  font-size: 24px;
  color: white;
}/*# sourceMappingURL=main.css.map */