body {
	/* appearance */
	background: hsl(133, 20%, 9%);
}


.tv-list {
	/* positioning */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.tv-list > .item {
	/* positioning */
	width: 200px;
	height: 300px;
	margin: 6px;

	/* appearance */
	background: hsl(135, 15%, 15%);
	border-radius: 5pt;
	box-shadow: 0 3px 0 hsl(132, 36%, 3%);

	/* transitions */
	transition:
		background 0.15s,
		transform  0.15s,
		box-shadow 0.15s;
}

.tv-list > .item:hover {
	background: hsl(135, 15%, 17%);
	transform: translate(0, -2px);
	box-shadow: 0 5px 6px hsl(132, 36%, 3%);
}

