:root {
	--accent-spacing: 200px;
	--titlebar-bg: hsl(50, 100%, 75%);
	--titlebar-color: hsl(35, 100%, 50%);

	--menu-bg: hsl(35, 100%, 50%);
	--menu-color: hsl(40, 100%, 65%);

	--button-bg: hsl(40, 100%, 65%);
	--button-bg-hover: hsl(0, 54%, 60%);
	--button-bg-active: hsl(0, 40%, 57%);

	--detail-bg: hsl(300, 35%, 60%);
	--detail-color: hsl(40, 100%, 65%);
	--detail-button-bg: hsl(0, 54%, 60%);
	--detail-button-bg-hover: hsl(40, 100%, 65%);
	--detail-button-bg-active: hsl(40, 70%, 60%);
}


body {
	/* appearance */
	background: black;
	margin: 12px;

	display: flex;
	flex-direction: column;
	align-content: center;

	/* text */
	font-family: 'Oswald', sans-serif;
}


.giga-container {
	/* positioning */
	margin: auto;

	display: grid;
	grid-template-rows: 30px max-content;
	gap: 24px;

	/* appearance */
	opacity: 0;
}

.giga-container > .titlebar {
	/* positioning */
	height: 30px;

	display: grid;
	grid-template-columns: minmax(0px, 200px) 1fr max-content var(--accent-spacing);
	gap: 5px;

	/* text */
	font-size: 37px;
	color: var(--titlebar-color);
}

.giga-container > .titlebar > .left {
	/* positioning */
	height: inherit;

	/* appearance */
	background: var(--titlebar-bg);
	border-radius: 30px 0 0 30px;
}

.giga-container > .titlebar > .spacer {
	/* positioning */
	height: inherit;
	
	/* appearance */
	background: var(--titlebar-bg);
}

.giga-container > .titlebar > .title {
	/* positioning */
	height: inherit;
	
	/* positioning */
	transform: translate(0, -14px);

	/* interactivity */
	user-select: none;
}

.giga-container > .titlebar > .right {
	/* positioning */
	height: inherit;
	
	/* appearance */
	background: var(--titlebar-bg);
	border-radius: 0 30px 30px 0;
}





.outer {
	/* positioning */
	display: grid;
	grid-template-columns: 200px max-content;
}




.outer > .menu {
	/* positioning */
	display: grid;
	grid-template-rows: 90px max-content 1fr 25px 90px;
	gap: 5px;
}

.outer > .menu > .top {
	/* appearance */
	background: var(--menu-bg);
	border-radius: 90px 0 0 0;
}

.outer > .menu > .spacer {
	/* appearance */
	background: var(--menu-bg);
}

.outer > .menu > .bottom {
	/* appearance */
	background: var(--menu-bg);
	border-radius: 0 0 0 90px;
}



.outer > .menu > .buttons {
	/* positioning */
	margin: 0;
	padding: 0;

	display: grid;
	gap: 5px;
	
	/* appearance */
}

.outer > .menu > .buttons > li {
	/* positioning */
	height: 46px;
	box-sizing: border-box;
	padding: 22px 5px 0 0;

	/* appearance */
	background: var(--button-bg);

	list-style: none;

	/* text */
	text-align: right;
	font-size: 12pt;

	/* interactivity */
	user-select: none;
}

.outer > .menu > .buttons > li:hover {
	/* appearance */
	background: var(--button-bg-hover);
}

.outer > .menu > .buttons > li:active {
	/* appearance */
	background: var(--button-bg-active);
}


#returnbutton.button {
	/* appearance */
	background: var(--detail-button-bg);
	padding: 1px 5px 0 0;
	content: "RETURN";

	/* text */
	text-align: right;
	font-size: 12pt;

	/* interactivity */
	user-select: none;
}

#returnbutton.button:hover {
	/* appearance */
	background: var(--detail-button-bg-hover);
}

#returnbutton.button:active {
	/* appearance */
	background: var(--detail-button-bg-active);
}





.container {
	/* positioning */
	display: grid;
	grid-template-rows: 1fr minmax(289px, max-content) 1fr;
	gap: 5px;
}

.container > .header {
	/* positioning */
	height: 90px;

	display: grid;
	grid-template-columns: 40px 1fr max-content minmax(0px, 200px);

	/* text */
	font-size: 37px;
	color: var(--menu-color);
}

.container > .header > .transition {
	/* positioning */
	position: relative;
	height: 90px;
	
	/* appearance */
	background: var(--menu-bg);
}

.container > .header > .transition::before {
	/* positioning */
	position: absolute;
	top: 30px;
	left: 0px;
	
	height: 60px;
	width: 40px;
	
	/* appearance */
	background: black;
	border-top-left-radius: 40px;
	content: "";
}

.container > .header > .left {
	/* positioning */
	height: 30px;
	
	/* appearance */
	background: var(--menu-bg);
}

.container > .header > .mid {
	/* positioning */
	height: 30px;
	
	/* appearance */
	background: var(--menu-bg);
}

.container > .header > .title {
	/* positioning */
	width: max-content;
	height: 30px;
	margin: 0 5px 0 5px;
	
	transform: translate(0, -14px);

	/* interactivity */
	user-select: none;
}

.container > .header > .right {
	/* positioning */
	height: 30px;

	/* appearance */
	background: var(--menu-bg);
	border-radius: 0 30px 0 0;
}




.container > .footer {
	/* positioning */
	height: 90px;

	display: grid;
	grid-template-columns: 40px 1fr max-content minmax(0px, 200px);

	/* text */
	font-size: 37px;
	color: var(--menu-color);
}

.container > .footer > .transition {
	/* positioning */
	position: relative;
	height: 90px;
	/* transform: translate(0, -60px); */
	
	/* appearance */
	background: var(--menu-bg);
}

.container > .footer > .transition::before {
	/* positioning */
	position: absolute;
	top: 0px;
	left: 0px;
	
	height: 60px;
	width: 40px;
	
	/* appearance */
	background: black;
	border-bottom-left-radius: 40px;
	content: "";
}

.container > .footer > .left {
	/* positioning */
	height: 30px;
	margin-top: 60px;
	
	/* appearance */
	background: var(--menu-bg);
}

.container > .footer > .mid {
	/* positioning */
	height: 30px;
	margin-top: 60px;
	
	/* appearance */
	background: var(--menu-bg);
}

.container > .footer > .title {
	/* positioning */
	width: max-content;
	height: 30px;
	margin: 60px 5px 0 5px;
	
	transform: translate(0, -14px);

	/* interactivity */
	user-select: none;
}

.container > .footer > .right {
	/* positioning */
	height: 30px;
	margin-top: 60px;

	/* appearance */
	background: var(--menu-bg);
	border-radius: 0 0 30px 0;
}










.list-container {overflow: hidden}


.tv-list {
	/* positioning */
	width: max-content;
	margin-left: 12px;

	display: grid;
	grid-template-columns: repeat(5, 200px);
	gap: 12px;
}

.tv-list > .item {
	/* positioning */
	width: 200px;

	display: grid;
	grid-template-rows: repeat(7, max-content);
	gap: 5px;

	/* appearance */
	/* background: hsl(35, 100%, 50%); */
	/* border-radius: 5pt 5pt 0 0; */
}

.item > .top {
	/* positioning */
	width: inherit;
	height: 10px;

	/* appearance */
	background: hsl(50, 100%, 50%);
	border-radius: 10px 10px 0 0;
}

.item > .header {
	/* positioning */
	width: inherit;
	height: 24px;

	box-sizing: border-box;
	padding-right: 3px;

	/* appearance */
	background: hsl(40, 100%, 50%);
	
	/* text */
	font-size: 12pt;
	text-align: right;

	/* interactivity */
	user-select: none;
}

.item > .content {
	/* positioning */
	width: inherit;
	height: 200px;

	/* appearance */
	/* background: hsl(28, 100%, 50%); */
	background-size: 200px 200px;

	/* interactivity */
	user-select: none;
}

.item > .spacer {
	/* positioning */
	width: inherit;
	height: 5px;
}

.item > .spacer.\31 {background: hsl(27,  100%, 50%)}
.item > .spacer.\32 {background: hsl(10, 100%, 50%)}
.item > .spacer.\33 {background: hsl(295, 100%, 50%)}

.item > .bottom {
	/* positioning */
	width: inherit;
	height: 10px;

	/* appearance */
	background: hsl(280, 100%, 50%);
	border-radius: 0 0 10px 10px;
}





.detail-view {
	/* positioning */
	margin-left: 5px;

	display: grid;
	grid-template-columns: max-content 125px;


}


.detail-view > .view {
	/* positioning */
	width: inherit;

	display: grid;
	grid-template-rows: max-content 436px max-content;
}

.detail-view > .view > .header {
	/* positioning */
	height: 46px;

	display: grid;
	grid-template-columns: 30px max-content 1fr 80px;

	/* text */
	font-size: 56px;
}

.detail-view > .view > .header > .left {
	/* positioning */
	height: inherit;

	/* appearance */
	background: var(--detail-bg);
	/* border-radius: 40px 0 0 40px; */
}

.detail-view > .view > .header > .title {
	/* positioning */
	margin: 0 5px 0 5px;
	transform: translate(0, -21px);

	/* text */
	color: var(--detail-color);
}

.detail-view > .view > .header > .spacer {
		/* positioning */
		height: inherit;
	
		/* appearance */
		background: var(--detail-bg);
}

.detail-view > .view > .header > .transition {
	/* positioning */
	position: relative;
	height: 148px;
	margin-left: 5px;

	/* appearance */
	background: var(--detail-bg);
}

.detail-view > .view > .header > .transition::before {
	/* positioning */
	position: absolute;
	top: 46px;
	left: -5px;

	width: 80px;
	height: 102px;

	/* appearance */
	content: "";
	background: black;
	border-top-right-radius: 51px;
}



.detail-view > .view > .footer {
	/* positioning */
	/* transform: translate(0, 30px); */
	height: 25px;

	display: grid;
	grid-template-columns: 30px 1fr max-content 80px;

	z-index: 1;

	/* text */
	font-size: 30px;
}

.detail-view > .view > .footer > .left {
	/* positioning */
	height: inherit;

	/* appearance */
	background: var(--detail-bg);
	/* border-radius: 25px 0 0 25px; */
}

.detail-view > .view > .footer > .spacer {
	/* positioning */
	height: inherit;
	margin-left: 5px;

	/* appearance */
	background: var(--detail-bg);
}

.detail-view > .view > .footer > .title {
	/* positioning */
	margin: 0 1px 0 5px;
	transform: translate(0, -11px);

	/* text */
	color: var(--detail-color);

	/* interactivity */
	user-select: none;
}


.detail-view > .view > .footer > .transition {
	/* positioning */
	transform: translate(0, -51px);
	position: relative;
	height: 76px;
	margin-left: 5px;

	/* appearance */
	background: var(--detail-bg);
}

.detail-view > .view > .footer > .transition::before {
	/* positioning */
	position: absolute;
	top: 0;
	left: -5px;

	width: 80px;
	height: 51px;

	/* appearance */
	content: "";
	background: black;
	border-bottom-right-radius: 25px;
}




.detail-view > .view > .content {
	/* positioning */
	width: inherit;
	height: inherit;

	box-sizing: border-box;
	padding: 5px 5px 5px 0;

	display: grid;
	grid-template-columns: max-content 150px;
	gap: 5px;

	z-index: 2;

	/* appearance */
}

.detail-view > .view > .content > .image {
	/* positioning */
	width: 426px;
	height: inherit;

	/* appearance */
	background-size: cover !important;
}







.detail-view > .menu {
	/* positioning */
	display: grid;
	grid-template-rows: 148px max-content 1fr 75px;
	gap: 5px;
}

.detail-view > .menu > .top {
	/* appearance */
	background: var(--detail-bg);
	border-radius: 0 148px 0 0;
}

.detail-view > .menu > .spacer {
	/* appearance */
	background: var(--detail-bg);
}

.detail-view > .menu > .bottom {
	/* appearance */
	background: var(--detail-bg);
	border-radius: 0 0 75px 0;
}



.detail-view > .menu > .buttons {
	/* positioning */
	margin: 0;
	padding: 0;

	display: grid;
	gap: 5px;
	
	/* appearance */
}

.detail-view > .menu > .buttons > li {
	/* positioning */
	height: 46px;
	box-sizing: border-box;
	padding: 22px 0 0 4px;

	/* appearance */
	background: var(--detail-button-bg);

	list-style: none;

	/* text */
	text-align: left;
	font-size: 12pt;

	/* interactivity */
	user-select: none;
}

.detail-view > .menu > .buttons > li:hover {
	/* appearance */
	background: var(--detail-button-bg-hover);
}

.detail-view > .menu > .buttons > li:active {
	/* appearance */
	background: var(--detail-button-bg-active);
}




