.section {
	text-align: center;
	
	// clipping masks
	clip-path: polygon(0% 0%, 0% 95%, 50% 99.5%, 100% 95%, 100% 0%);
}


.video {
	// layout
	overflow: hidden;

	// interactivity
	user-select: none;

	// clipping masks
	clip-path: polygon(0% 0%, 0% 95%, 50% 99.5%, 100% 95%, 100% 0%);


	.video-overlay {
		// layout
		display: flex;
		justify-content: center;
		align-items: center;

		// positioning
		position: absolute;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;


		z-index: 10;
		
		// styling
		background: #000000a0;


		.main-text {
			// text stuff
			font-family: 'Heebo', sans-serif;
			font-size: 5vw;
			font-weight: 900;
			text-align: center;
			color: white;

			span {font-weight: 300;}
		}
	}


	video {
		// positioning
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;

		justify-content: center;

		@media screen and (max-aspect-ratio: 16/9) {height: 100vh}
		@media screen and (min-aspect-ratio: 16/9) {width: 100vw}
	}
}